<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Ebay_logo_2012.svg" alt="eBay" height="32"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <form class="d-flex mx-auto" style="max-width: 500px;">
                <input class="form-control me-2" type="search" placeholder="Search for anything" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/login">Login</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/register">Register</NavLink>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Daily Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help & Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
